#include "winver.h"
1 24 DISCARDABLE "uac.manifest"
IDI_ICON1       ICON      "main.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGS      0x0L
 FILEFLAGSMASK  0x3fL
 FILEOS         VOS_NT_WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Knight QQ:499169936"
            VALUE "FileDescription", "avWare"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "LegalCopyright", "Knight QQ:499169936"
            VALUE "InternalName", "avWare"
            VALUE "OriginalFilename", "avWare"
            VALUE "ProductName", "avWare"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END