.QWidget{
	color: #F0F0F0;
	border:1px solid #4D4D4D;
	border-radius:0px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);	
}
.QFrame{
	color: #F0F0F0;
	border:1px solid #636363;
	border-radius:5px;
}

QDialog#FrmDevice, QDialog#DlgNetSet, QDialog#DlgUpgrade, QDialog#DlgAreaSelect,QDialog#DlgOverLay,QDialog#QColorDialog,
QDialog#DlgFactorySet,QDialog#DlgHandAddDevice, QDialog#DlgDeviceSet,QDialog#DlgPtzWindows,QDialog#DlgAbout,
QWidget#FormPtzAdvanced, QWidget#FrmMainMenu, QWidget#FrmNotificationBox,QDialog#DlgTimeSelect, QDialog#DlgRecordSet, QDialog#DlgAlarmMessage, QDialog#DlgMkFirmWare
{
	border:1px solid #4D4D4D;
	color: #F0F0F0;
	border-radius:0px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);
}
/*
QTableView#TviewChnDevice,QTableView#TviewSearchDevice, QTableView#TviewDeviceList,QTableView#TviewPacket{
*/
.QTableView{
	color: #F0F0F0;
	border: 1px solid #636363; 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);
}
.QLabel{
	color: #F0F0F0;
}
QLabel#LabIco,QLabel#LabTitle{
	border-radius:0px;
	color: #F0F0F0;
	background-color:rgba(0,0,0,0);
	border-style:none;
}

.QLineEdit{
	color: #F0F0F0;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);
}
.IpPartLineEdit{
	color: #F0F0F0;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);
}
QTextEdit{
	color: #F0F0F0;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);
}


QLineEdit {
	border: 1px solid #636363;
	border-radius: 5px;
	padding: 2px;
	background: none;
	color: #F0F0F0;
	selection-background-color: #4D4D4D;
}

QLineEdit[echoMode="2"] { 
	color: #F0F0F0;
	lineedit-password-character: 9679; 
}

.QGroupBox{
	color: #F0F0F0;
	border: 1px solid #636363;
	border-radius: 5px;
}

.QPushButton{
	border-style: none;
	border: 0px;
	color: #F0F0F0;
	padding: 5px;	
	min-height: 20px;
	border-radius:5px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
}

.QPushButton[focusPolicy="0"] {
	border-style: none;
	border: 0px;
	color: #F0F0F0;
	padding: 0px;	
	min-height: 10px;
	border-radius:3px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
}

.QPushButton:hover{ 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #575757);
}

.QPushButton:pressed{ 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);
}

.QToolBox::tab:pressed{ 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4123, stop:1 #292789);
}

.QToolBox::tab { 
   min-height:20px;
   max-height:80px;
   color: #F0F0F0;
   border:none;outline:none;text-align:center;
         background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
     }

.QToolBox::tab:selected {
   background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #292929, stop:1 #4D4D4D); 
}
	 
QPushButton#BtnClose,QPushButton#BtnMax,QPushButton#BtnMenu,QPushButton#BtnMin,QPushButton#btnMenu_Close{
	border-radius:0px;
	color: #F0F0F0;
	background-color:rgba(0,0,0,0);
	border-style:none;
}

QPushButton#BtnMenu:hover,QPushButton#BtnMin:hover,QPushButton#BtnMax:hover{
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(25, 134, 199, 0), stop:1 #636363);
}
QPushButton#BtnClose:hover,QPushButton#btnMenu_Close:hover{
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(25, 134, 199, 0), stop:1 #FF0000);
}


QPushButton#BtnEnableVideo, 
QPushButton#BtnListen, 
QPushButton#BtnRecord, 
QPushButton#BtnSnap, 
QPushButton#BtnSpeakListen{
	color:rgba(0,255,0,255);
	background-color:transparent;
}
QPushButton#BtnEnableVideo:hover,
QPushButton#BtnListen:hover,
QPushButton#BtnRecord:hover,
QPushButton#BtnSnap:hover,
QPushButton#BtnSpeakListen:hover{ 
	color:rgba(255,255,0,255);
}

QPushButton#BtnEnableVideo:pressed,
QPushButton#BtnListen:pressed,
QPushButton#BtnRecord:pressed,
QPushButton#BtnSnap:pressed,
QPushButton#BtnSpeakListen:pressed{ 
	color:rgba(255,0,0,255);
}


QCheckBox {
	color: #F0F0F0;
	spacing: 2px; 
}

QCheckBox::indicator {
	width: 20px;
	height: 20px;
}

QCheckBox::indicator:unchecked {
	image: url(:/image/checkbox_unchecked.png);
}

QCheckBox::indicator:checked {
	image: url(:/image/checkbox_checked.png); 
}

QRadioButton {
	color: #F0F0F0;
	spacing: 2px;
}

QRadioButton::indicator {
	width: 15px; 
	height: 15px; 
}

QRadioButton::indicator::unchecked {
	image: url(:/image/radio_normal.png); 
}

QRadioButton::indicator::checked {
	image: url(:/image/radio_selected.png); 
}

.QComboBox{
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);
}

.QTimeEdit{
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);
}
.ComboBoxPopup{
	background-color:#4D4D4D;
}
QComboBox,QDateEdit,QTimeEdit{
	border-radius: 3px;
	padding: 1px 10px 1px 5px;
	border: 1px solid #636363;
	color: #F0F0F0;
}


QComboBox::drop-down,QDateEdit::drop-down,QTimeEdit::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	color: #F0F0F0;
	width: 15px; 
	border-left-width: 1px;
	border-left-style: solid;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left-color: #636363;
	background-color:#636363;
	selection-background-color:#4D4D4D;
	selection-color:#575757;

	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);

}
QComboBox QAbstractItemView {
    border: 2px solid darkgray;
    selection-background-color:green;
	selection-color:blue;
	color: #F0F0F0;
	background:#4D4D4D;
}

QComboBox::item {
    height: 25px;
	background-color:#4D4D4D;
}

/*控制下拉按键*/
QComboBox::down-arrow,QDateEdit::down-arrow,QTimeEdit::down-arrow {
	image: url(:/image/array_down.png); 
}


QMenu {
	background-color:#4D4D4D;
	margin: 2px;
	color: #F0F0F0;
	font: bold 14px;
}

QMenu::item {	
	padding: 2px 12px 2px 12px;
}

QMenu::indicator {
	width: 13px;
	height: 13px;
}

QMenu::item:selected {
	color: #F0F0F0;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
}

QMenu::separator {
	height: 1px;
	background: #636363;
}

QProgressBar {
	/*border-radius: 5px;*/
	text-align: center;
	border: 1px solid #636363;
	background-color: #636363;
}

QProgressBar::chunk {
	background-color:rgb(0,255,0);;
}

QSlider::groove:horizontal,QSlider::add-page:horizontal { 
	background: #808080; 
	height: 8px; 
	border-radius: 3px; 
}

QSlider::sub-page:horizontal {
	height: 8px; 
	border-radius: 3px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
}

QSlider::handle:horizontal {
	width: 13px; 
	margin-top: -3px; 
	margin-bottom: -3px; 
	border-radius: 6px;
	background: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,stop:0.6 #F0F0F0, stop:0.778409 #636363);
}

QSlider::handle:horizontal:hover {
	background: qradialgradient(spread: pad, cx: 0.5, cy: 0.5, radius: 0.5, fx: 0.5, fy: 0.5, stop: 0.6 #F0F0F0,stop:0.778409 #4D4D4D);
}

QSlider::groove:vertical,QSlider::sub-page:vertical {
	background:#808080; 
	width: 8px; 
	border-radius: 3px;
}

QSlider::add-page:vertical {
	width: 8px;
	border-radius: 3px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
}

QSlider::handle:vertical {
	height: 14px; 
	margin-left: -3px;
	margin-right: -3px;
	border-radius: 6px;
	background: qradialgradient(spread: pad, cx: 0.5, cy: 0.5, radius: 0.5, fx: 0.5, fy: 0.5, stop: 0.6 #F0F0F0, stop:0.778409 #636363);
}

QSlider::handle:vertical:hover {
	background: qradialgradient(spread: pad, cx: 0.5, cy: 0.5, radius: 0.5, fx: 0.5, fy: 0.5, stop: 0.6 #F0F0F0,stop:0.778409 #4D4D4D);
}

QScrollBar:vertical {
	width:10px; 
	background-color:rgba(0,0,0,0%); 
	padding-top:10px; 
	padding-bottom:10px;
}

QScrollBar:horizontal {
	height:10px; 
	background-color:rgba(0,0,0,0%); 
	padding-left:10px; padding-right:10px;
}

QScrollBar::handle:vertical {
	width:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #575757); 
}

QScrollBar::handle:horizontal {
	height:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #575757); 
}

QScrollBar::handle:vertical:hover {
	width:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
}

QScrollBar::handle:horizontal:hover {
	height:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
}

QScrollBar::add-line:vertical {
	height:10px;
	width:10px;
	subcontrol-position: bottom; 
	subcontrol-origin: margin;
	border-image:url(:/image/add-line_vertical.png);
}

QScrollBar::add-line:horizontal {
	height:10px;
	width:10px;
	subcontrol-position: right;
	subcontrol-origin: margin;
	border-image:url(:/image/add-line_horizontal.png);
}

QScrollBar::sub-line:vertical {
	height:10px;
	width:10px;
	subcontrol-position: top; 
	subcontrol-origin: margin;
	border-image:url(:/image/sub-line_vertical.png);
}

QScrollBar::sub-line:horizontal {
	height:10px;
	width:10px;
	subcontrol-position: left;
	subcontrol-origin: margin;
	border-image:url(:/image/sub-line_horizontal.png);
}

QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical {
	width:10px;
	background: #C0C0C0;
}

QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal {
	height:10px;
	background: #C0C0C0;
}

QScrollArea {
	border: 0px ; 
	background: #C0C0C0;
}

QTreeView,QListView,QTableView, QTabWidget{
	color: #F0F0F0;
	border: 1px solid #636363; 
	selection-background-color: #4D4D4D;
	selection-color: #575757;
}

QTableView::item:selected, QListView::item:selected, QTreeView::item:selected {
	color: #F0F0F0;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #575757); 
}

QTableView::item:hover, QListView::item:hover, QTreeView::item:hover {
	color: #F0F0F0;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #575757); 
}

QTableView::item, QListView::item, QTreeView::item {
	padding: 5px; 
	margin: 0px; 
}

QHeaderView::section {
	padding:3px;
	margin:0px;
	color:#F0F0F0;
	border: 1px solid #F0F0F0;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #575757);
}

QTabBar::tab {
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	color: #F0F0F0;
	min-width: 60px;
	min-height: 20px;
	padding: 3px 8px 3px 8px;
	margin:1px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #575757); 
}

QTabBar::tab:selected, QTabBar::tab:hover {
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929); 
}

QStatusBar::item {
     border: 1px solid #636363;
     border-radius: 3px;
}



/* navigation bar */
QCalendarWidget QWidget#qt_calendar_navigationbar { background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);  }
QCalendarWidget QToolButton {
	color: white;
	font-size: 12px;
	icon-size: 18px, 18px;
	background-color:  qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);
}
QCalendarWidget QMenu {
	color: white;
	font-size: 12px;
	background-color: rgb(100, 100, 100);
}
QCalendarWidget QSpinBox { 
	font-size:12px; 
	color: white; 
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4D4D4D, stop:1 #292929);
	selection-background-color: rgb(136, 136, 136);
	selection-color: rgb(255, 255, 255);

}

QCalendarWidget QSpinBox::up-button { subcontrol-origin: border;  subcontrol-position: top right;  width:32px; }
QCalendarWidget QSpinBox::down-button {subcontrol-origin: border; subcontrol-position: bottom right;  width:32px;}
QCalendarWidget QSpinBox::up-arrow { width:26px;  height:26px; }
QCalendarWidget QSpinBox::down-arrow { width:26px;  height:26px; }

/* header row */
QCalendarWidget QWidget { alternate-background-color: rgb(128, 128, 128); }
 
/* normal days */
QCalendarWidget QAbstractItemView:enabled 
{
	font-size:12px;  
	color: rgb(180, 180, 180);  
	background-color: black;  
	selection-background-color: rgb(64, 64, 64); 
	selection-color: rgb(0, 255, 0); 
}
 
/* days in other months */
QCalendarWidget QAbstractItemView:disabled { color: rgb(64, 64, 64); }

